version: '3.1'

services:
  web:
    container_name: pieni-web
    image: node:20-alpine
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
      args:
        - PUBLIC_BASEURL
        - DATABASE_URL
        - GOOGLE_OAUTH_ID
        - GOOGLE_OAUTH_SECRET
        - BETTER_AUTH_SECRET
        - BETTER_AUTH_URL
    env_file: .env
    ports:
      - 3000:3000

  db:
    container_name: pieni-db
    image: postgres:15-alpine
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: pieni
      POSTGRES_USER: pieni
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data: {}
